- name: add setup config file
  ansible.builtin.copy:
    src: keycloak/
    dest: /etc/docker/keycloak/
    owner: root
    group: root
    mode: "644"
  notify:
    - restart the service again

- name: "copy config files"
  ansible.builtin.template:
    src: "{{item}}"
    dest: "/etc/docker/keycloak/{{item}}"
    owner: root
    group: root
    mode: 0644
  loop:
    - "init.sql"
    - ".env"
  notify:
    - restart the service again

- name: start the service
  community.docker.docker_compose_v2:
    project_src: /etc/docker/keycloak
    wait: true
    wait_timeout: 300
    state: present
