#cloud-config

fqdn: ${fqdn}
hostname: ${config.name}
prefer_fqdn_over_hostname: true

timezone: ${config.timezone}

users:
  - name: ${config.username}
    uid: ${config.user_id}
    groups:
      - sudo
    shell: /bin/bash
    lock_passwd: true
    sudo: ALL=(ALL) NOPASSWD:ALL

package_update: true
package_upgrade: true
package_reboot_if_required: true
packages:
  - qemu-guest-agent
  - ansible
  - git
%{ if length(config.packages) > 0 }
%{ for pkg in config.packages ~}
  - ${pkg}
%{ endfor }
%{ endif }

disable_root: true
ssh_deletekeys: true
ssh_genkeytypes: [ed25519]

manage_resolv_conf: true
resolv_conf:
  searchdomains: [${config.searchdomain}]

write_files:
  - path: /etc/systemd/system/cloudyhome-sync.service
    owner: root:root
    permissions: '0644'
    content: |
      [Unit]
      Description=Sync CloudyHome ansible self provisioning repo
      After=network-online.target
      Wants=network-online.target

      [Service]
      Type=oneshot
      ExecStartPre=/usr/bin/mkdir -p /var/lib/cloudyhome/ansible
      ExecStart=/usr/bin/git clone -b main --single-branch https://github.com/binarycodes/homelab-self-provisioner.git /var/lib/cloudyhome/ansible
      RemainAfterExit=yes

      [Install]
      WantedBy=multi-user.target

  - path: /etc/systemd/system/cloudyhome-provision@.service
    owner: root:root
    permissions: '0644'
    content: |
      [Unit]
      Description=CloudyHome self provisioning for %i
      Requires=cloudyhome-sync.service cloudyhome-provision@debian.service
      Wants=network-online.target
      After=network-online.target cloudyhome-sync.service cloudyhome-provision@debian.service
      ConditionPathExists=!/var/lib/cloudyhome/ansible-pull.%i.done
      ConditionPathExists=/var/lib/cloudyhome/ansible/%i.yml
      ConditionPathExists=/var/lib/cloudyhome/ansible/requirements.yml

      [Service]
      Type=oneshot
      Environment=DEBIAN_FRONTEND=noninteractive
      WorkingDirectory=/var/lib/cloudyhome/ansible
      ExecStartPre=/usr/bin/ansible-galaxy install -r requirements.yml
      ExecStart=/usr/bin/ansible-playbook %i.yml
      ExecStartPost=/usr/bin/touch /var/lib/cloudyhome/ansible-pull.%i.done
      RemainAfterExit=yes

      [Install]
      WantedBy=multi-user.target

  - path: /etc/ssh-keysign/config.yml
    owner: root:root
    permissions: '0400'
    content: |
      ca-server-url: ${ca_server_url}
      client-id: ${ca_sso_client_id}
      client-secret: ${ca_sso_client_secret}
      token-url: ${ca_sso_token_url}
      host:
        key: /etc/ssh/ssh_host_ed25519_key.pub
        principal: ${fqdn}
  - path: /etc/ssh/user_ca.pub
    owner: root:root
    permissions: '0400'
    content: |
      ${ca_user_public_key}
  - path: /etc/ssh/sshd_config.d/01_trusted_user_ca.conf
    owner: root:root
    permissions: '0400'
    content: |
      TrustedUserCAKeys /etc/ssh/user_ca.pub
%{ if length(config.write_files) > 0 }
%{ for f in config.write_files }
  - path: ${f.path}
    %{ if can(f.owner) && f.owner != "" }owner: ${f.owner}%{ endif }
    %{ if can(f.permissions) && f.permissions != "" }permissions: '${f.permissions}'%{ endif }
    %{ if can(f.encoding) && f.encoding != "" }encoding: ${f.encoding}%{ endif }
    content: |
      ${indent(6, f.content)}
%{ endfor }
%{ endif }

runcmd:
  - systemctl daemon-reload
  - groupmod -g ${config.user_id} ${config.username}
%{ if length(tags) > 0 }
%{ for tag in tags ~}
  - systemctl enable --now cloudyhome-provision@${tag}.service
%{ endfor }
%{ endif }
%{ if length(config.runcmds) > 0 }
%{ for cmd in config.runcmds ~}
  - ${cmd}
%{ endfor }
%{ endif }
  - systemctl enable --now qemu-guest-agent
  - echo "debian done" >> /tmp/cloud-config.done
