http:
  #region routers
  routers:
    pve_cluster:
      entryPoints:
        - "https"
      rule: "Host(`proxmox.homedns.pro`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: pve_cluster
    pve1:
      entryPoints:
        - "https"
      rule: "Host(`pve1.proxmox.homedns.pro`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: pve1
    pve2:
      entryPoints:
        - "https"
      rule: "Host(`pve2.proxmox.homedns.pro`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: pve2
    pve3:
      entryPoints:
        - "https"
      rule: "Host(`pve3.proxmox.homedns.pro`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: pve3
    router-page:
      entryPoints:
        - "https"
      rule: "Host(`router.homedns.pro`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: router-page
    unifi-u6:
      entryPoints:
        - "https"
      rule: "Host(`bifrost.homedns.pro`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: unifi-u6
    keycloak:
      entryPoints:
        - "https"
      rule: "Host(`keycloak.homedns.pro`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: keycloak
    homeassistant:
      entryPoints:
        - "https"
      rule: "Host(`homeassistant.homedns.pro`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: homeassistant
    truenas-moria:
      entryPoints:
        - "https"
      rule: "Host(`moria.homedns.pro`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: truenas-moria
    pinchflat:
      entryPoints:
        - "https"
      rule: "Host(`pinchflat.homedns.pro`)"
      middlewares:
        - default-headers
        - https-redirectscheme
        - "traefik-keycloak@file"
      tls: {}
      service: pinchflat
    jellyfin:
      entryPoints:
        - "https"
      rule: "Host(`jellyfin.homedns.pro`)"
      middlewares:
        - https-redirectscheme
        - websocket
      tls: {}
      service: jellyfin
  #endregion

  #region services
  services:
    pve_cluster:
      loadBalancer:
        servers:
          - url: "https://pve1.localdomain:8006"
        passHostHeader: true
    pve1:
      loadBalancer:
        servers:
          - url: "https://pve1.localdomain:8006"
        passHostHeader: true
    pve2:
      loadBalancer:
        servers:
          - url: "https://pve2.localdomain:8006"
        passHostHeader: true
    pve3:
      loadBalancer:
        servers:
          - url: "https://pve3.localdomain:8006"
        passHostHeader: true
    router-page:
      loadBalancer:
        servers:
          - url: "https://router.localdomain/"
        passHostHeader: true
    unifi-u6:
      loadBalancer:
        servers:
          - url: "https://sundarban.localdomain:8443/"
        passHostHeader: true
    keycloak:
      loadBalancer:
        servers:
          - url: "http://gorumara.localdomain:8080/"
        passHostHeader: true
    homeassistant:
      loadBalancer:
        servers:
          - url: "http://homeassistant.localdomain:8123/"
        passHostHeader: true
    truenas-moria:
      loadBalancer:
        servers:
          - url: "http://moria.localdomain/"
        passHostHeader: true
    pinchflat:
      loadBalancer:
        servers:
          - url: "http://pench.localdomain:8945"
        passHostHeader: true
    jellyfin:
      loadBalancer:
        servers:
          - url: "http://pench.localdomain:8096"
        passHostHeader: true
  #endregion

  middlewares:
    addprefix-pihole:
      addPrefix:
        prefix: "/admin"

    https-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true

    redirectregex-pihole:
      redirectRegex:
        regex: "/admin/(.*)"
        replacement: /

    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    default-whitelist:
      ipWhiteList:
        sourceRange:
          - "192.168.1.0/24"

    secured:
      chain:
        middlewares:
          - default-whitelist
          - default-headers

    traefik-keycloak:
      plugin:
        keycloakopenid:
          KeycloakURL: "https://keycloak.homedns.pro"
          KeycloakRealm: "homelab"
          ClientID: "{{vault_traefik.keycloak.client_id}}"
          ClientSecret: "{{vault_traefik.keycloak.client_secret}}"
          Scope: "openid"
          TokenCookieName: "AUTH_TOKEN"
          UseAuthHeader: "false"

    websocket:
      headers:
        customRequestHeaders:
          Upgrade: "{http.request.headers.Upgrade}"
          Connection: "{http.request.headers.Connection}"
