- name: create the directory if required
  file:
    path: /etc/docker/file-browser
    state: directory

- name: "copy config files"
  ansible.builtin.template:
    src: "{{item}}"
    dest: "/etc/docker/file-browser/{{item}}"
    owner: root
    group: root
    mode: 0644
  loop:
    - "application-prod.yml"
    - "docker-compose.yml"

- name: start the service again
  community.docker.docker_compose_v2:
    project_src: /etc/docker/file-browser
    wait: true
    wait_timeout: 300
    state: present
