---
- hosts: admin
  tasks:
    - name: set normalized architecture fact
      set_fact:
        normalized_arch: >-
          {{
          'amd64' if ansible_architecture == 'x86_64' else
          'arm64' if ansible_architecture == 'aarch64' else
          ansible_architecture
          }}

- hosts: admin
  become: yes
  roles:
    - docker
    - ddns
    - unifi
    - keycloak
    - ftp
    - file-browser
    - caddy
  tags:
    - always
    - system
